# Global config for parameters
SCRATCHDIR="/scratch/$PAWSEY_PROJECT/$USER/"
echo SCRATCHDIR=$SCRATCHDIR
CONTAINER_PATH="/software/projects/$PAWSEY_PROJECT/$USER/containers/"
echo CONTAINER_PATH=$CONTAINER_PATH
CONTAINER_NAME="mwa-demo_autos_rocm6.3.3.img"
echo CONTAINER_NAME=$CONTAINER_NAME
GXCONTAINER=$CONTAINER_PATH/$CONTAINER_NAME
echo GXCONTAINER=$GXCONTAINER
# testing with
# module load singularity/3.11.4-nohost
# singularity pull -F $CONTAINER_PATH/$CONTAINER_NAME docker://mwatelescope/mwa-demo:autos_rocm6.3.3
SCRIPT_BASE="/software/projects/$PAWSEY_PROJECT/$USER/spectral_cube/spectralcube_asep/"
echo SCRIPT_BASE=$SCRIPT_BASE
LOG_PATH="/software/projects/$PAWSEY_PROJECT/$USER/spectral_cube/spectralcube_asep/logs/"
echo LOG_PATH=$LOG_PATH
# MWA CONFIG DETAILS
MWA_BEAM_FILE="/scratch/references/mwa/beam-models/mwa_full_embedded_element_pattern.h5"
echo MWA_BEAM_FILE=$MWA_BEAM_FILE

# Conf for the imaging of spectral cube centered on Target (random target as default)
TARGET_RA="09:23:00"
TARGET_DEC="-04:30:00"


# WSCLEAN config for A-team subtraction (not peel)
